@model Chain_pharmacies.Models.OrderRequest

<h2>Create Order to Main Storage</h2>

<form asp-action="Create">
    <input type="hidden" asp-for="ProductId" />

    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" asp-for="Quantity" min="1" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create Order</button>
</form>