@model List<Chain_pharmacies.Controllers.ProfileAdminController.ProductInStorageViewModel>

<h2>Storage Items</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" asp-controller="ProfileAdmin" class="btn btn-primary">Create Order Request</a>