@model IEnumerable<Pharmacy>

<div id="map" style="height: 500px;"></div>

@section Scripts {
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([50.4501, 30.5234], 13); // Coordinates for Kyiv

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        @foreach (var pharmacy in Model)
        {
            <text>
                L.marker([@pharmacy.Latitude, @pharmacy.Longitude]).addTo(map)
                    .bindPopup("@pharmacy.Location");
            </text>
        }
    </script>
}

